
/* Fonts */

* {
    font-family: 'Courier New', Courier, monospace;
}

/* CSS Reset */

*, *:before, *:after {
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}


/* Container styling */

main {
    margin: 1%;
}

section {
    margin: 1%;
    padding: 3px;
    border-width: 3px;
    border-style: solid;
    border-color: #000000;
}

/* Button styling */
button{
    font-weight: bold;
    padding: 2px;
    background-color: white;
    border: 2px solid black;
    margin-right: 5px;
}


/* Tooltip Styling */

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-tooltip {
    padding: 10px 20px;
    width: 400px;
    border-radius: 20px;
    background: white;
    border: 2px solid black;
}

/* Format Ascii Art */
.flexbox {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.flex-child {
    width:fit-content;
}
pre {
    text-align: left;
    width:fit-content;
}